.bill-summary{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    display: grid;
}
.bill-summary-container{
    place-self: center;
    width: max(23vw ,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.bill-summary-title{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bill-summary-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.bill-summary-gst{
    cursor: pointer;
}